-
    var regionsDic = {
        'cultures': {
            'name': 'Archeological culture',
            'title': 'Archeological culture',
            'subtext': 'archeological division'
        },
        'continents': {
            'name': 'Continent',
            'title': 'Continent',
            'subtext': 'geographical division'
        },
        'wb_regions': {
            'name': 'World Bank Region',
            'title': 'World Bank Region',
            'subtext': 'political division'
        },
        'un_regions': {
            'name': 'United Nations Region',
            'title': 'United Nations Region',
            'subtext': 'political division'
        },
        'un_subregions': {
            'name': 'United Nations Subregion',
            'title': 'United Nations Subregion',
            'subtext': 'political division'
        },
        'countries': {
            'name': 'Country',
            'title': 'Country',
            'subtext': 'political division'
        }
    };