-
	var layerBlendingModes = {
		'normal': { 'name': 'Normal', 'selected': true },
		'multiply': { 'name': 'Multiply'},
		'screen': { 'name': 'Screen'},
		'overlay': { 'name': 'Overlay'},
		'darken': { 'name': 'Darken'},
		'lighten': { 'name': 'Lighten'},
		'color-dodge': { 'name': 'Color doge'},
		'color-burn': { 'name': 'Color burn'},
		'hard-light': { 'name': 'Hard light'},
		'soft-light': { 'name': 'Soft light'},
		'difference': { 'name': 'Difference'},
		'exclusion': { 'name': 'Exclusion'},
		'hue': { 'name': 'Hue'},
		'saturation': { 'name': 'Saturation'},
		'color': { 'name': 'Color'},
		'luminosity': { 'name': 'Luminosity'},
	};