-
    var clusteringDic = {
        'Distance': {
            'isOptgroup': true,
            'name': 'Cluster by distance',
            'maxData': '1',
            'options': {
                'distance__relative': {
                    'selected': true,
                    'name': 'Relative distance (pixels)',
                    'title': 'Relative dist.'
                },
                'distance__absolute': {
                    'name': 'Absolute distance (kilometers)',
                    'title': 'Absolute dist.'
                }
            }
        },
        'Regions': {
            'isOptgroup': true,
            'name': 'Cluster by regions',
            'maxData': '1',
            'options': {
                'region__cultures': {
                    'name': 'Archeological cultures',
                    'title': 'Cultures',
                    'subtext': 'archaeological division'
                },
                'region__world': {
                    'name': 'World',
                    'title': 'World',
                    'subtext': 'geographical division'
                },
                'region__continents': {
                    'name': 'Continents',
                    'title': 'Continents',
                    'subtext': 'geographical division'
                },
                'region__wb_regions': {
                    'name': 'World Bank Regions',
                    'title': 'WB Regions',
                    'subtext': 'political division'
                },
                'region__un_regions': {
                    'name': 'United Nations Regions',
                    'title': 'UN Regions',
                    'subtext': 'political division'
                },
                'region__un_subregions': {
                    'name': 'United Nations Subregions',
                    'title': 'UN Subregions',
                    'subtext': 'political division'
                },
                'region__countries': {
                    'name': 'Countries',
                    'title': 'Countries',
                    'subtext': 'political division'
                }
            }
        }
    };



//-
    countries
    un_regions
    un_subregions
    wb_regions


//-
    continents