-
    var clustersValue = {
        'count': {
            'label': 'layer objects count'
        },
        'weight': {
            'label': 'layer objects weight'
        }
    }

    var clustersValue_BU = {
        'count': {
            'label': 'layer objects count, \\(x\\in\\mathbf{N}\\)'
        },
        'weight': {
            'label': 'layer objects weight, \\(w\\in[0, 1]\\)'
        }
    }