-
    var columnsDic = {
        'map': {
            'isOptgroup': true,
            'name': 'Map information',
            'options': {
                'datasetId': {
                    'name': 'Dataset ID'
                },
                'layerId': {
                    'name': 'Layer ID'
                }
            }
        },
        'sex': {
            'isOptgroup': true,
            'name': 'Genetical sex',
            'options': {
                'name': {
                    'name': 'Name'
                }
            }
        },
        'haplogroup_y': {
            'isOptgroup': true,
            'name': 'Haplogroup Y',
            'options': {
                'name': {
                    'name': 'Name'
                },
                'treeIndex': {
                    'name': 'Tree index'
                }
            }
        },
        'haplogroup_mt': {
            'isOptgroup': true,
            'name': 'Haplogroup Mt',
            'options': {
                'name': {
                    'name': 'Name'
                },
                'treeIndex': {
                    'name': 'Tree index'
                }
            }
        },
        'dating': {
            'isOptgroup': true,
            'name': 'Dating',
            'options': {
                'yearFrom': {
                    'name': 'Year from'
                },
                'yearTo': {
                    'name': 'Year to'
                },
                'type': {
                    'name': 'Type'
                }
            }
        },
        'use_phase': {
            'isOptgroup': true,
            'name': 'Dating',
            'options': {
                'id': {
                    'name': 'ID'
                },
                'yearFrom': {
                    'name': 'Year from'
                },
                'yearTo': {
                    'name': 'Year to'
                },
                'function': {
                    'name': 'Function'
                }
            }
        },
        'regions_political': {
            'isOptgroup': true,
            'name': 'Political regions',
            'options': {
                'country_name': {
                    'name': 'Country name'
                },
                'un_region_name': {
                    'name': 'United Nations region name'
                },
                'country_name': {
                    'name': 'United Nations subregion name'
                }
            }
        },
        'regions_archaeological': {
            'isOptgroup': true,
            'name': 'Archeological regions',
            'options': {
                'culture_name': {
                    'name': 'Culture name'
                }
            }
        },
        'sources': {
            'isOptgroup': true,
            'name': 'Sources',
            'options': {
                'titles': {
                    'name': 'Titles'
                },
                'publication_dates': {
                    'name': 'Publication years'
                }
            }
        },
        'authors': {
            'isOptgroup': true,
            'name': 'Authors',
            'options': {
                'authors': {
                    'name': 'Names'
                }
            }
        }
    };