-
    var datasetsDic = {
        'Past': {
            'isOptgroup': true,
            'name': 'Archeogenomic samples',
            'options': {
                'RemainsAADR': {
                    'name': 'Allen Ancient DNA Resource v54.1.p1',
                    'disabled': false,
                    'selected': true,
                    'attributes': {
                        'entity': 'Remains',
                        'database': 'AADR_v54.1.p1',
                        'datasetType': 'Allen Ancient DNA Resource v54.1.p1'
                    }
                }
            }
        },
        'Present': {
            'isOptgroup': true,
            'name': 'Contemporary genomic samples',
            'options': {
                'PersonAADR': {
                    'name': 'Allen Ancient DNA Resource v54.1.p1',
                    'disabled': false,
                    'attributes': {
                        'entity': 'Person',
                        'database': 'AADR_v54.1.p1',
                        'datasetType': 'Allen Ancient DNA Resource v54.1.p1'
                    }
                },
                'PersonEMPOP': {
                    'name': 'EMPOP mtDNA database v4/R13',
                    'disabled': false,
                    'attributes': {
                        'entity': 'Person',
                        'database': 'EMPOP_v4/R13',
                        'datasetType': 'EMPOP mtDNA database v4/R13'
                    }
                }
            }
        }
    };