-
	var layerTypes = {
		'': { 'selected': true },
		'single': {
			'isOptgroup': true,
			'name': 'Single value representation',
			'options': {
				'point': {
					'name': 'Points'
				},
				'heatmap': {
					'name': 'Heatmap'
				}
			}
		},
		'multiple': {
			'isOptgroup': true,
			'name': 'Multiple values representation',
			'options': {
				'piechart': {
					'name': 'Piecharts'
				},
				'tag': {
					'name': 'Tags cloud'
				}
			}
		}
	};