-
    var patterns = {
        "hatch": {
            "name": "Hatch pattern",
            "selected": false
        },
        "coal": {
            "name": "Coal pattern",
            "selected": false
        },
        "dot": {
            "name": "Dot pattern",
            "selected": false
        },
        "crosses": {
            "name": "Crosses pattern",
            "selected": false
        },
        "woven": {
            "name": "Woven pattern",
            "selected": false
        }
    };