-
    var piechartsLabel = {
        'never': {
            'label': 'never.'
        },
        'hover': {
            'label': 'on hover.'
        },
        'select': {
            'label': 'on select.'
        },
        'always': {
            'label': 'always.'
        }
    }

//-
    var piechartsLabel = {
        'never': {
            'label': 'never.'
        },
        'hover': {
            'label': 'on hover.'
        },
        'always': {
            'label': 'always.'
        }
    }