-
    var proportionOperators = {
        'geq': {
            'label': '&#8805;'
        },
        'leq': {
            'label': '&#8804;'
        },
        'eq': {
            'label': '='
        }
    };