-
    var regionsLabel = {
        'cluster': {
            'label': 'above cluster.'
        },
        'region': {
            'label': 'at region centroid.'
        },
        'none': {
            'label': 'nowhere.'
        }
    }