-
    var sessionsDic = {
        '': {
            'name': ''
        },
        'default': {
            'name': 'Default session'
        },
        'blank': {
            'name': 'Blank session'
        },
        'examples': {
            'isOptgroup': true,
            'name': 'Examples',
            'options': {
                'R1a_R1b_heatmap': {
                    'name': 'R1a & R1b distribution on heatmap'
                },
                'periods': {
                    'name': 'Comparsion of periods'
                },
                'admixtures': {
                    'name': 'Distribution of admixtures'
                },
                'tags': {
                    'name': 'Males haplogroups shown with tags'
                },
                'cultures': {
                    'name': 'Admixture values in range of Epigravettian culture'
                },
                'past_present': {
                    'name': 'Past mt-DNA haplogroups vs contemporary times data'
                }
            }
        }
    };