-
    var sessionDataTypes = {
        "datasets": {
            "name": "Loaded datasets"
        },
        "layers": {
            "name": "Created data layers"
        },
        "colors": {
            "name": "Data appearance, e.g. color",
            "options": {
                "attributes": {
                    "name": "Attributes appearance"
                },
                "regions": {
                    "name": "Regions appearance"
                }
            }
        },
        "filters": {
            "name": "Data filters",
            "options": {
                "time": {
                    "name": "Time filter options"
                },
                "attributes": {
                    "name": "Attributes filtering"
                },
                "regions": {
                    "name": "Regions filtering"
                }
            }
        },
        "map": { 
            "name": "Map properties, e.g. position and zoom"
        },
        "clustering": {
            "name": "Grouping options",
            "options": {
                "features": {
                    "name": "Spatial clustering options"
                },
                "attributes": {
                    "name": "Attributes grouping options"
                }
            }
        }
    };