-
	var standardisationMethods = {
		'none': { 
			'name': 'None', 
			'content': 'None' 
		},
		'max': { 
			'name': 'Max', 
			'selected': true, 
			'content': 'By max count'
		},
		'total': { 
			'name': 'Total', 
			'content': 'By total count'
		}
	};

	var standardisationMethods_BU = {
		'none': { 
			'name': 'None', 
			'content': 'None: \\( x\' = x \\)' 
		},
		'max': { 
			'name': 'Max', 
			'selected': true, 
			'content': 'By max count: \\( x\' = \\frac{x}{x_{max}} \\)'
		},
		'total': { 
			'name': 'Total', 
			'content': 'By total count: \\( x\' = \\frac{x}{\\sum_{i=0}^{N}x_{i}} \\)'
		}
	};