mixin switch(inputId, text)
    .custom-control.custom-switch&attributes(attributes)  
        input.custom-control-input(id=inputId, type='checkbox')
        label.custom-control-label(for=inputId)= text
