#acknowledgments-section.mb-5.container-fluid
    h1.mb-4 Podziękowania
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum odit dolor velit animi ab nemo, minima dolore laborum voluptates nulla optio ut magnam assumenda nisi dignissimos voluptate voluptas distinctio architecto.
    h1.mb-5