#project-section.mb-5.mt-5.container-fluid
    h1.mb-4 O projekcie
    .row
        .col-md-6
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea reprehenderit labore deserunt, non perferendis quam impedit corporis vel veniam tempore at perspiciatis? Perspiciatis tempora debitis in saepe quisquam, dolorum veritatis.
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea reprehenderit labore deserunt, non perferendis quam impedit corporis vel veniam tempore at perspiciatis? Perspiciatis tempora debitis in saepe quisquam, dolorum veritatis.
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea reprehenderit labore deserunt, non perferendis quam impedit corporis vel veniam tempore at perspiciatis? Perspiciatis tempora debitis in saepe quisquam, dolorum veritatis.
        .col-md-6
            picture
                source(srcset='https://via.placeholder.com/400x600' type='image/png')
                img.img-fluid(src='https://via.placeholder.com/400x600' alt='ph')