-
    var tilesData = [{
        "id": "R1a_R1b_heatmap", "image": "/img/examples/R1a_R1b_heatmap/bg.png", "sessionLink": "R1a_R1b_heatmap", 
        "title": "R1a & R1b distribution - heatmap",
        "content": {
            "tags": ["heatmap", "regions"], "steps": [{
                "image": "/img/examples/R1a_R1b_heatmap/1.png", "id": "R1a_R1b_heatmap_S1",
                "text": "1. First load a blank session to start from scratch. To do that a) import blank session using the proper select box and then b) click the circled button to load it."
            },{
                "image": "/img/examples/R1a_R1b_heatmap/2.png", "id": "R1a_R1b_heatmap_S2",
                "text": "2. Now we can start importing appropriate datasets. We want to prepare visualisation for the Europe and we need samples of people, who inherited R1a haplogroup for the first dataset and R1b haplogroup for the second. To import such datasets, first choose Allen Ancient DNA Resource data source from the selectbox. Next, click on the circled button to define dataset filters. Add the same filters as they are shown on the example pixture. Confirm filters and press 'Send query' button to get the first dataset. Repeat the process for the R1b haplogroup dataset."
            },{
                "image": "/img/examples/R1a_R1b_heatmap/bg.png", "id": "R1a_R1b_heatmap_S3",
                "text": "3. TODO..."
            }]
        }
    },{
        "id": "period", "image": "/img/examples/Periods/bg.png", "sessionLink": "periods", 
        "title": "Comparsion of periods",
        "content": {
            "tags": ["points", "regions"], "steps": [{
                "image": "/img/examples/R1a_R1b_heatmap/1.png", "id": "R1a_R1b_heatmap_S1",
                "text": "1. First load a blank session to start from scratch. To do that a) import blank session using the proper select box and then b) click the circled button to load it."
            }]
        }
    },{
        "id": "admixtures", "image": "/img/examples/admixtures/bg.png", "sessionLink": "admixtures", 
        "title": "Distribution of admixtures",
        "content": {
            "tags": ["points", "regions"], "steps": [{
                "image": "/img/examples/R1a_R1b_heatmap/1.png", "id": "R1a_R1b_heatmap_S1",
                "text": "1. First load a blank session to start from scratch. To do that a) import blank session using the proper select box and then b) click the circled button to load it."
            }]
        }
    },{
        "id": "tags", "image": "/img/examples/tags/bg.png", "sessionLink": "tags", 
        "title": "Males with Y-DNA and mt-DNA haplogroups determined",
        "content": {
            "tags": ["points", "regions"], "steps": [{
                "image": "/img/examples/R1a_R1b_heatmap/1.png", "id": "R1a_R1b_heatmap_S1",
                "text": "1. First load a blank session to start from scratch. To do that a) import blank session using the proper select box and then b) click the circled button to load it."
            }]
        }
    },{
        "id": "cultures", "image": "/img/examples/cultures/bg.png", "sessionLink": "cultures", 
        "title": "Admixture values for samples laying in the range of Epigravettian culture",
        "content": {
            "tags": ["points", "regions"], "steps": [{
                "image": "/img/examples/R1a_R1b_heatmap/1.png", "id": "R1a_R1b_heatmap_S1",
                "text": "1. First load a blank session to start from scratch. To do that a) import blank session using the proper select box and then b) click the circled button to load it."
            }]
        }
    },{
        "id": "past_present", "image": "/img/examples/past_present/bg.png", "sessionLink": "past_present", 
        "title": "Comparsion of past and contemporary times data of mt-DNA haplogroup distribution",
        "content": {
            "tags": ["points", "regions"], "steps": [{
                "image": "/img/examples/R1a_R1b_heatmap/1.png", "id": "R1a_R1b_heatmap_S1",
                "text": "1. First load a blank session to start from scratch. To do that a) import blank session using the proper select box and then b) click the circled button to load it."
            }]
        }
    }];