#applications-wrapper.container-fluid
    ul
        li.media
            img.mr-3(src="https://via.placeholder.com/100x100" alt='p')
            .media-body
                h5.mt-0 Rodzaj danych
                |     Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

        li.media
            img.mr-3(src="https://via.placeholder.com/100x100" alt='p')
            .media-body
                h5.mt-0 Browse
                |     Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            
        li.media
            img.mr-3(src="https://via.placeholder.com/100x100" alt='p')
            .media-body
                h5.mt-0 Interaktywna mapa
                |     Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

        