#disciplines-wrapper.container-fluid
    .flipbook-viewport
        .container
            #book-wrapper
                #flipbook
                    .hard.cover.front
                        .page-content-wrapper.center
                            h2 Potęga współpracy wielu nauk 
                    .hard.page-custom.image  
                        .page-content-wrapper.center
                            picture
                                //- Alternatywny obrazek dla różnych media queries -//
                                source(srcset="https://via.placeholder.com/200x200")
                                img.img-fluid(src="https://via.placeholder.com/200x200", alt="p")
                    .hard.page-custom 
                        .page-content-wrapper
                            h3 Historia
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, incidunt impedit natus esse reiciendis delectus voluptas repellat atque nisi vero neque accusantium, architecto dolorem, dicta velit veniam. Velit, odio est?
                    .hard.page-custom.image  
                        .page-content-wrapper.center
                            picture
                                //- Alternatywny obrazek dla różnych media queries -//
                                source(srcset="https://via.placeholder.com/200x200")
                                img.img-fluid(src="https://via.placeholder.com/200x200", alt="p")
                    .hard.page-custom 
                        .page-content-wrapper
                            h3 Archeologia
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, incidunt impedit natus esse reiciendis delectus voluptas repellat atque nisi vero neque accusantium, architecto dolorem, dicta velit veniam. Velit, odio est?
                    .hard.page-custom.image  
                        .page-content-wrapper.center
                            picture
                                //- Alternatywny obrazek dla różnych media queries -//
                                source(srcset="https://via.placeholder.com/200x200")
                                img.img-fluid(src="https://via.placeholder.com/200x200", alt="p")
                    .hard.page-custom 
                        .page-content-wrapper
                            h3 Antropologia
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, incidunt impedit natus esse reiciendis delectus voluptas repellat atque nisi vero neque accusantium, architecto dolorem, dicta velit veniam. Velit, odio est?
                    .hard.page-custom.image  
                        .page-content-wrapper.center
                            picture
                                //- Alternatywny obrazek dla różnych media queries -//
                                source(srcset="https://via.placeholder.com/200x200")
                                img.img-fluid(src="https://via.placeholder.com/200x200", alt="p")
                    .hard.page-custom
                        .page-content-wrapper  
                            h3 Genetyka
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, incidunt impedit natus esse reiciendis delectus voluptas repellat atque nisi vero neque accusantium, architecto dolorem, dicta velit veniam. Velit, odio est?
                    .hard.page-custom.image  
                        .page-content-wrapper.center
                            picture
                                //- Alternatywny obrazek dla różnych media queries -//
                                source(srcset="https://via.placeholder.com/200x200")
                                img.img-fluid(src="https://via.placeholder.com/200x200", alt="p")
                    .hard.page-custom
                        .page-content-wrapper 
                            h3 Genomika
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, incidunt impedit natus esse reiciendis delectus voluptas repellat atque nisi vero neque accusantium, architecto dolorem, dicta velit veniam. Velit, odio est?
                    .hard.cover.back