.jumbotron.jumbotron-fluid
    picture.jumbotron-background-image
        //- Alternatywny obrazek dla różnych media queries -//
        //-source(srcset="/img/bg-future.jpg")
        img.img-fluid(srcset="/img/bg-future.jpg")

    .row
        .col-2
        .col-8
            .center-header-text
                .container-fluid(style="background-color: rgba(250,250,250,0.7); padding: 1rem;")
                    h1.mb-5(style="text-align: center") Welcome to Human AGEs - Human Archeogenomics webserver!
                    p.my-3(style="font-size: 1.3rem;") Here you can find an updated and comprehensive set of genomic and archeological information linked with anatomically modern Homo sapiens samples, spanning the timescale from the late Palaeolithic to Medieval times worldwide. We provide multiple analytical and visualization tools, enabling thorough exploration of genomic and archaeological data. 
                    p This website is free and open to all users and there is no login requirement.
        .col-2