@import "mixins-sass/colors";
@import "mixins-sass/multi-browser-support.scss";


ul.icon-text-list {
    padding: 0;
    
    & > li {
        font-size: 0.75rem;
        padding: 0.625rem;
        background-color: $palette-primary-color-dark;
        margin-top: 0.5rem;
        list-style-type: none;

        display: flex;
        align-items: center;
        @include transition(all 0.2s);

        & > p {
            padding: 0;
            margin: 0;
        }

        & > .material-icons {
            position: relative;
            margin-right: 0.3rem;
            @include transition(all 0.2s);
        }

        &:hover {
            cursor: pointer;
            @include box-shadow(inset 0 -0.1rem 0 0 palette-secondary-color-with-opacity(0.5));

            .material-icons {
                @include transform(rotate(10deg));
                @include transform(zoom(1.5));
            }
        }

        &:first-child {
            margin-top: 0;
        }
    }
}